# API
API_PORT=5144

# SQL SERVER
SA_PASSWORD=your_strong_password_here
DB_NAME=FeeloryDB
SQL_PORT=1435

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password_here

# RabbitMQ
RABBITMQ_USER=your_rabbitmq_user
RABBITMQ_PASSWORD=your_rabbitmq_password_here
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672